1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [45]:
mi_variable = 5

2) Imprimir el tipo de dato de la constante 8.5

In [46]:
mi_variable2 = 8.5
print(type(mi_variable2))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [47]:
print(type(mi_variable))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [48]:
mi_nombre="Guillermo"

5) Crear una variable que contenga un número complejo

In [49]:
mi_variable3=5+35j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [50]:
print(type(mi_variable3))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [51]:
pi= 3.14151617
print(round(pi,4))

3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [52]:
verdadero_falso1='True'
verdadero_falso2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [53]:
print(type(verdadero_falso1))
print(type(verdadero_falso2))

<class 'str'>
<class 'bool'>

In [54]:
Var1="2,5"
Var2=3

**replace te ayuda cambiar "las comillas" ("")  por el "punto" (.)** de tal forma que al ejecutar no de error

In [56]:
print(float(Var1)+float(Var2))

5.5

**float "Sive para poder usar numero entre comillas"" de tal forma que no saldria error al ejecutarlo**

10) Asignar a una variable, la suma de un número entero y otro decimal

In [57]:
Mivariable=5+0.5
print(Mivariable)

5.5

11) Realizar una operación de suma de números complejos

In [58]:
c1=5+3j
c2=4-32j
print(c1+c2)

(9-29j)

12) Realizar una operación de suma de un número real y otro complejo

In [59]:
c3=5
c4=5+3j
print(c3+c4)

(10+3j)

13) Realizar una operación de multiplicación

In [60]:
m1=3
m2=5
print(m1*m2)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [61]:
Mivariable4=2**8
print(Mivariable4)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [62]:
Mivariable5=27/4
print(Mivariable5)

6.75

16) De la división anterior solamente mostrar la parte entera

In [63]:
Mivariable5=27//4
print(Mivariable5)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [64]:
Mivariable5=27%4
print(Mivariable5)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [65]:
4 *6 +3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [66]:
va1="San "
va2="Martin"
print(va1+va2)

San Martin

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [67]:
q1="2"
q2=2
print(q1==q2)
print(type(q1),type(2))

False
<class 'str'> <class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [75]:
q1=float(q1)
print(q1+q2)

4.0

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [69]:
#se necesita transformar la constante,
# tanto en las comillas como en el decimal para convertirlo en un numero entero#
a='3,8'
a=a.replace(",",".")
print(float(a))

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [70]:
n1=3
n1-=1
print(n1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [71]:
s1=3

In [72]:
100*(2**s1)

800

In [73]:
100<<s1

800



25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [74]:
f1=2
f2='2'
print(f1+f2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
float(f1)+float(f2)

4.0

In [ ]:
int(f1)+int(f2)

4

In [ ]:
str(f1)+str(f2)

'22'



26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
g1="se repite "
g2=3

print(g1*g2+"tres veces")

se repite se repite se repite tres veces